body {
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;
    font-weight: bolder;
    font-size: larger;
}

header {
    background-color: #1f2933;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

table{
    background-color: rgb(124, 180, 202);
    width: 200px;
   border-color: #1f2933;
   border-style: solid;
   text-align: center;
   border-color: #6d849b;
   border-width: 5px;
   border-radius: 10px;
   margin-left: 10px;
}

th {
    background-color: #1f2933;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav {
    display: inline-block;
    display: flex;
    margin-right: 20px;
}

nav table{
    width: 460px;
    text-align: center;
   border-color: #6d849b;
   border-style: solid;
   border-width: 5px;
   border-radius: 10px;
   margin-left: 10px;

}

.modelo, .precio, .cantidad, .imagen {
    font-weight: bold;
    background-color: rgb(165, 185, 129);
    border-radius: 20px;
}

nav table th {
    background-color: #6d849b;
    margin-left: 10px;
}
nav table td {
    background-color: #eee4af;
    margin: 10px;
}
nav table td:hover {
    background-color: #ccedf1;
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

img{
    background-color: darkolivegreen;
    width: 400px;
    height: auto;
}

.out{
    background-color: rgb(255, 58, 58);
}

.low{
    background-color: rgb(255, 196, 0);
}

.in-stock{
    background-color: rgb(165, 185, 129);
}