body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #1f2933;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

table{
    width: 200px;
   border-color: #1f2933;
   border-style: solid;
   text-align: center;
   border-color: #6d849b;
   border-width: 5px;
   border-radius: 10px;
   margin-left: 10px;
}

th {
    background-color: #1f2933;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav {
    display: inline-block;
    display: flex;
    margin-right: 20px;
}

nav table{
    width: 460px;
    padding: auto;
    text-align: center;
   border-color: #6d849b;
   border-style: solid;
   border-width: 5px;
   border-radius: 10px;
   margin-left: 10px;

}

nav table th {
    background-color: #6d849b;
    margin-left: 10px;
}
nav table td {
    background-color: #eee4af;
    margin: 10px;
}






